
@font-face {
  font-family: 'monst-l';
  src:  url('lib/montserrat/Montserrat-Light.ttf')  format('truetype'); /* Safari, Android, iOS */

}
@font-face {
  font-family: 'monst-m';
  src:  url('lib/montserrat/Montserrat-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */

}
@font-face {
  font-family: 'monst-mi';
  src:  url('lib/montserrat/Montserrat-MediumItalic.ttf')  format('truetype'); /* Safari, Android, iOS */

}
@font-face {
  font-family: 'monst-thin';
  src:  url('lib/montserrat/Montserrat-Thin.ttf')  format('truetype'); /* Safari, Android, iOS */

}
@font-face {
  font-family: 'monst-ti';
  src:  url('lib/montserrat/Montserrat-ThinItalic.ttf')  format('truetype'); /* Safari, Android, iOS */

}
/*@font-face {
  font-family: 'monst-i';
  src:  url('lib/montserrat/Montserrat-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
/*}*/


@font-face {
  font-family: 'sinis';
  src:  url('lib/Sinistre/web/Sinistre-StCaroline.woff')  format('woff'); /* Safari, Android, iOS */

}
html,body{
  background-color: #fff;
  margin: 0;
  padding: 0;

  font-family: 'monst-l', 'Helvetica-Neue', sans-serif;

}
a:visited{
  /*color: red;*/
  /*text-shadow:  2px 2px 5px grey;*/

}
p{
}
h5{
  cursor: pointer;
  /*font-family: sprat;*/
  font-weight: 200;
  font-size: 0.7em;
}
.leiratok {
  font-size: 0.7em;
  word-wrap: auto;
  cursor: default;
}
.linki{
  text-decoration: none;
  color: blue;
}
.linki:hover{
  text-shadow:  2px 2px 5px grey;
  /*color:black;*/
}
.linki2{
  /*text-decoration: none;*/
  /*color: #6495ed;*/
  color: blue;
}
.linki2: hover{
  /*text-decoration: none;*/
  text-shadow:  2px 2px 5px grey;

  /*color: #6495ed;*/
  color: white;
}
/*a:hover{
  text-decoration: none;
  text-shadow:  2px 2px 5px red;


  color: blue;
}
a:visited{
  text-decoration: none;

  color: red;
}*/
table.kiall td{
  padding-bottom: 0.5vh;
}
.up{
  text-shadow:  2px 2px 15px black;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#definagy{
  /*font-family: sprat;*/
  font-family: 'monst-l';

  font-size: 0.8em;
}
.defi{
  font-size: 0.8em;
  color:grey;
}
.respo {
/*  padding-left: 10vw;*/
  width: 100%;
/*  width: 300%;*/
 
  max-width: 800px;
  height: auto;
}

.dagi {
  font-family: 'monst-m';
/*  font-weight: bold;*/
}

.lenyilo {
  font-size: 1em;
  cursor: default;
}
#flip {
/*  font-family: sinis;*/

  font-size: 0.9em;
  cursor: default;
  width:20vw;
}
#flip:hover {
 
  text-shadow:  2px 2px 5px grey;
 
}
#flip2{
/*  font-family: sinis;*/
/*  overflow: auto;*/
  font-size: 0.9em;
  cursor: default;
  width:20vw;
/*  z-index: 2;*/
}
#freeze{
  position: absolute;
  top:1px;
  left:1px;
  font-family: 'sinis';
  font-size: 1em;
  color:red;
}
#flip2:hover {

  text-shadow:  2px 2px 5px grey;
 
}
#flip3{
/*  font-family: sinis;*/

  font-size: 0.9em;
  cursor: default;
  width:20vw;
  
}
#flip3:hover {
  text-shadow:  2px 2px 5px grey;
 
}
#tartalom{
  font-size: 0.8em;
}
#tartalom2{
/*  position: fixed;*/
}
#tartalom3{
  font-size: 0.8em;
}
#flip4{
  font-family: sinis;

  font-size: 0.8em;
  cursor: default;
  width:20vw;
  
}
#flip4:hover {
  text-shadow:  2px 2px 5px grey;
 
}
#tartalom4{
/*  font-family: sinis;*/

  font-size: 0.8em;
}

#comic{
  font-size: 1em;
  /*color: blue;*/
  text-shadow: 2px 2px 5px grey;
  text-decoration: none;
  /*text-shadow: 2px 2px black;*/
  /*color:cyan;*/
}
#comic:hover{
  color:white;
  /*box-shadow: 20px 20px 20px grey;*/
}
.szam{
  padding-right: 5vw;
  padding-left: 2vw;
  /*font-family: sprat;*/
  /*font-size: 1em;*/
}
td{
  font-size: 0.8em;
}
#name {
  font-family: sinis;
  text-shadow: 10px 10px 15px black;
  position: absolute;
  left: 90px;
  top: 10px;
  animation: rightLeft 30s linear infinite alternate;
  
}

/*@keyframes rightLeft {
  to {
    right: 100%;
    transform: translateX(-100%);
  }
}*/

#move1 {
  position: absolute;
  left: 50px;
  top:120px;
  animation: rightLeft 30s linear infinite alternate-reverse;
  
}


/*@keyframes rRight {
  to {
    right: 0%;
    transform: translateX(-100%);
  }
}*/


#move2 {
  position: absolute;
  left: 1px;
  top: 250px;
  animation: rightLeft 35s linear infinite alternate;
/*  width:auto;*/
  
}

#move2m {
  position: absolute;
  left: 1px;
  top: 150px;
  animation: rightLeft 35s linear infinite alternate;
/*  width:auto;*/
  
}

#move3 {
  position: absolute;
  left: 10px;
  top: 450px;
  animation: rightLeft 30s linear infinite alternate-reverse;
  
}
#move4 {
  position: absolute;

  left: 160px;
  bottom: 150px;
  animation: rightLeft 30s linear infinite alternate;
  
}
/*@keyframes leftRight {
  to {
    left: 100%;
    transform: translateX(-100%);
  }
}*/
   .contact-l{
      color:black;
      text-shadow:  5px 5px 5px grey;
    }
    .contact-l:hover{
      color:blue;
      text-shadow:  5px 5px 5px lightpink;
    }
   .dev-l{
      color:black;
      text-shadow:  5px 5px 5px grey;
    }
    .dev-l:hover{
      color:white;
      text-shadow:  2px 2px 5px grey;
    }
@keyframes rightLeft {
  to {
    left: 100%;
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 600px) {
.respo {
/*  padding-left: 10vw;*/
  width: 80%;
/*  width: 300%;*/

  max-width: 1200px;
  height: auto;
}

 #tartalom2{
/*  position: relative;*/
}
}
